node_modules
.next
out
build
dist

.git
.gitignore
.gitattributes

Dockerfile
.dockerignore
docker-compose*.yml
compose*.yml

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.vercel
.vscode
.idea
*.tsbuildinfo
next-env.d.ts

supabase/.branches
supabase/.temp

README.md
LICENSE
*.md

terminals
.cursor
